.panel{        
    text-align: center;
    font-size: 46px;
}

#first{
    /*background-color: rgba(158, 158, 158, 0.27);*/
    color: #c03434;
    text-shadow: 2px 2px 19px #9E9E9E;
}

#introduction span{
    font-weight: 600;
    color: blueviolet;
}

.slide{    
    width:900px;
    height:700px;
    border-radius: 10px;
}